<% content_for :title do %>
  Edit <%= resource_name.to_s.humanize %>
<% end %>

<div class="columns is-centered mt-6">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold mb-3">Edit <%= resource_name.to_s.humanize %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
      </div>

      <div class="mt-6">
        <span class="actions">
          <%= f.submit "Update", class: "button is-success" %>
        </span>
        <%= link_to "Back", :back, class: "button is-grey-dark is-outlined is-centered" %>
      </div>

      <div class="mt-6 is-size-6">
        Unhappy?
        <div class="mt-1">
          <%= link_to "Cancel my account",
                      registration_path(resource_name),
                      data: { confirm: "Are you sure?" },
                      #method: :delete,
                      class: "button is-danger" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
