<section class="hero has-background-grey-dark is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <%= link_to root_path do %>
              <%= image_tag "logo.svg", alt: "logo" %>
              <span class="has-text-weight-bold is-size-3 ml-4 has-text-success">log4meal</span>
            <% end %>
          </div>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item mt-1">
              <span class="is-size-2">
                <% if user_signed_in? %>
                  <%=link_to 'Create new entry', new_entry_path, class: 'button is-success is-medium' %>
                <% end %>

                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button is-success is-outlined is-inverted is-static is-medium" aria-controls="dropdown-menu">
                      <span>
                        <% if user_signed_in? %>
                          <%= current_user.email %>
                        <% else %>
                          Account
                        <% end %>
                      </span>
                    </button>
                  </div>

                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">

                      <% if user_signed_in? %>

                        <div class="dropdown-item">
                          <%= link_to "Edit", edit_user_registration_path(@user), class: "button is-grey-dark is-outlined is-fullwidth"  %>
                        </div>

                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-danger is-outlined is-fullwidth"  %>
                        </div>

                      <% else %>

                        <div class="dropdown-item">
                          <%= link_to 'Log In', new_user_session_path, class: "button is-grey-dark is-outlined is-fullwidth" %>
                        </div>

                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <%= link_to 'Sign Up', new_user_registration_path, class: "button is-success is-outlined is-fullwidth" %>
                        </div>

                      <% end %>

                    </div>
                  </div>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-success">
        <% if content_for :title %>
          <%= yield :title %>
        <% else %>
          log4meal
        <% end %>
      </h1>
    </div>
  </div>
</section>
