<div class="columns is-centered mt-6">
  <div class="column is-half">
    <% if @entries.empty? %>
      <div class="is-centered has-text-weight-bold is-size-4">
        No any entries
      </div>
    <% end %>
    <% @entries.each do |day, entries| %>
      <div class="panel">
      <h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered has-background-success has-text-grey-dark">
        Entries for <%= day %>
      </h3>

      <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Calories</p>
            <p class="title"><%= entries.pluck(:calories).sum %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Proteins</p>
            <p class="title"><%= entries.pluck(:proteins).sum %>g</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Carbohydrates</p>
            <p class="title"><%= entries.pluck(:carbohydrates).sum %>g</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Fats</p>
            <p class="title"><%= entries.pluck(:fats).sum %>g</p>
          </div>
        </div>
      </nav>

      <% entries.each do |entry| %>
        <%= link_to entry_path(entry) do %>
          <div class="card">
            <div class="card-content">
              <strong><%= entry.meal_type %></strong>
              <%= entry.calories %> calories,
              <%= entry.proteins %>g protein,
              <%= entry.carbohydrates %>g carbs,
              <%= entry.fats %>g fats
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "Back", entries_path, class: "button is-grey-dark is-outlined is-centered" %>
</div>
